<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', sans-serif;
        }

        body {
            display: flex;
            background-color: #f0f3f6;
        }

        .container {
            display: flex;
            width: 100%;
        }

        .sidebar {
            background-color: #1c1f26;
            width: 250px;
            min-height: 100vh;
            color: white;
            padding: 20px;

        }


        .logo {

            font-size: 28px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .profile {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }

        .profile img {
            width: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .welcome {
            font-size: 14px;
        }

        .status {
            display: block;
            font-size: 12px;
            color: #00e676;
        }

        .nav a {

            display: block;
            align-items: center;
            padding: 10px 0;
            color: #ccc;
            text-decoration: none;
            transition: 0.3s;


        }

        .nav a:hover {
            color: #fff;
        }
            .nav button {

            /* align-items: center;
            padding: 10px 0;
            color: #ccc;
            text-decoration: none;
            transition: 0.3s; */
            color: #ccc;
            text-decoration: none;
            font-size: 15px;
            transition: 0.3s;
            border: none;
            background-color: #1c1f26;
        }

         .nav button:hover {
            color: #fff;
        }

        .nav li {
            list-style-type: none;
        }

        .main-content {
            flex-grow: 1;
            padding: 40px;
            background-color: #f4f7fa;
            min-height: 100vh;
        }

        table,
        tr,
        td,
        th {
            border: 2px solid black;
            padding: 10px;
            border-collapse: collapse;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <div class="container">
        <aside class="sidebar">
            <div class="logo">SCRM</div>

            <div class="profile">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="user">
                <div class="welcome">
                    <p><Strong>Welcome</Strong><br>
                        <%=user.name%>
                    </p>
                    <span class="status online">● Online</span>

                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="">BROWSE</a></li>
                    <li><a href="/dashboard/<%=user._id%>"><i class="fas fa-home"></i> Dashboard</a></li>

                    <li>
                        <form action="/change_password" method="post">
                            <input type="hidden" name="id" value="<%=user._id%>">
                            <button type="submit">change password</button>
                        </form>
                    </li>
                    <li><a href="/profile/<%=user._id%>">Profile</a></li>
                    <li><a href="/req_quote/<%=user._id%>">Request a Quote</a></li>
                    <li><a href="/manage-quotes/<%=user._id%>">Quotes History</a></li>
                   <li><a href="/create_ticket/<%=user.id%>">Create Ticket</a></li>

                     <li><td><a href="/quote_details/<%=user._id%>">view</a></td></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <div>
                <p>My quotes History</p>
            </div>
            <div>
                <table>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th>Services Requires</th>
                         <th>Date</th>
                        <th>Action</th>
                       
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <%=user.name%>
                        </td>
                        <td>
                            <%=user.email%>
                        </td>
                        <td>
                            <%=user.contact%>
                        </td>
                        <td>
                            <%=user. services%>
                        </td>
                        <td><%= user.date%></td>
                        <td><a href="/quote_details/<%=user._id%>">view</a></td>
                        
                    </tr>

                </table>
            </div>


        </main>

    </div>
</body>

</html>